$textcolor: #fff;
.navbar-header {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  img {
    margin: 0 4px 3px 0;
    height: 26px;
    line-height: 38px;
  }
  button,
  a {
    color: $textcolor;
    * {
      cursor: pointer;
    }
  }
}
.contentcontainer {
  position: relative;
  #area {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
