<!-- The content below is only a placeholder and can be replaced. -->
<!--
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
-->

<!-- 容器 -->
<div fxLayout="column" fxLayoutAlign="stretch" style="height: 100%;">
  <!-- 顶部导航栏 -->
  <div
    class="navbar-header"
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="background-color: #3f51b5; height: 56px; padding: 8px 16px;"
  >
    <button mat-button>
      <img src="../assets/image/homepage/angular-white-transparent.svg" />
      Visualization
    </button>
    <button mat-button>
      <label for="inputfile" title="点击上传文件">{{ file }}</label>
      <input
        type="file"
        name="timeSeriesData"
        id="inputfile"
        hidden
        (change)="getFile($event.target)"
      />
    </button>
    <button mat-button *ngIf="if_file" (click)="draw()">START</button>
    <a mat-button href="https://github.com/kongxiangyan">
      <img src="../assets/image/homepage/github-circle-white-transparent.svg" />
      GitHub
    </a>
  </div>
  <!-- 页面主体 -->
  <div fxFlex="1 1 auto" class="contentcontainer"><svg id="area"></svg></div>
</div>
<router-outlet></router-outlet>