<!-- 容器 -->
<div fxLayout="column" fxLayoutAlign="stretch" style="height: 100%;">
  <!-- 顶部导航栏 -->
  <div class="header-navbar" fxFlex="0 0 auto">
    <app-header
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="background-color: #3f51b5; height: 56px; padding: 8px 16px;"
    ></app-header>
  </div>
  <!-- 页面主体 -->
  <div fxFlex="1 1 auto" fxLayout="row" style="position: relative;">
    <app-body fxFlex="1 1 auto" fxLayout="row"></app-body>
  </div>
</div>
<router-outlet></router-outlet>
